In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import datetime

In [70]:
def strip_tags(soup, tags):
    for tag in tags:
        for match in soup.findAll(tag):
            match.replaceWithChildren()

soup = BeautifulSoup("""
    <td>
    <div align="center">W. Force</div>
    </td>
    <td>
    <div align="center">5</div>
    </td>
    <td>
    <div align="center">18/2/06</div>
    </td>
    """, 'html.parser' )          
strip_tag(soup, ["div", "invalid"])
print(soup)

<td>
W. Force
</td>
<td>
5
</td>
<td>
18/2/06
</td>

In [93]:
teams_1 = []
teams_2 = []
scores_1 = []
scores_2 = []
dates = []
for year in [str(y) for y in range(2006, 2017)]:
    url = 'http://www.superxv.com/results/{year}-super-rugby-results/'.format(year=year)
    page = requests.get(url)
    if page.status_code != 200:
        print('Error downloading {url}'.format(url=url))
    else:
        print('Successfully downloaded {url}'.format(url=url))
        for table in BeautifulSoup(page.content, 'html.parser').find_all('table'):
            strip_tags(table, ["div"])
            for row in table.find_all('tr')[1:]:
                entries = row.find_all('td')
                if entries[0].text.strip() not in ['Bye', 'Not playing']:
                    teams_1.append(entries[0].text.strip().replace('\n',' '))
                    teams_2.append(entries[3].text.strip().replace('\n',' '))
                    scores_1.append(entries[1].text.strip())
                    scores_2.append(entries[4].text.strip())
                    dates.append(entries[5].text)

Successfully downloaded http://www.superxv.com/results/2006-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2007-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2008-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2009-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2010-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2011-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2012-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2013-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2014-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2015-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2016-super-rugby-results/

In [195]:
df = pd.DataFrame({
        'date':dates,
        'team_1':teams_1,
        'team_2':teams_2,
        'score_1':scores_1,
        'score_2':scores_2})
df.date = pd.to_datetime(df.date)
df

          date score_1 score_2            team_1             team_2
0   2011-02-18       9      14        Hurricanes        Highlanders
1   2011-02-18       0      43  Melbourne Rebels           Waratahs
2   2011-02-19      24      22             Blues          Crusaders
3   2011-02-19      28      20          Brumbies             Chiefs
4   2011-02-19      24       9            Sharks           Cheetahs
5   2011-02-19      20      24             Lions              Bulls
6   2011-02-20      21      20              Reds      Western Force
7   2011-02-25      23      13       Highlanders             Chiefs
8   2011-02-25      25      24  Melbourne Rebels           Brumbies
9   2011-02-25      23      25          Cheetahs              Bulls
10  2011-02-26       0       0        Hurricanes          Crusaders
11  2011-02-26      30       6          Waratahs               Reds
12  2011-02-26      26      12            Sharks              Blues
13  2011-02-26      19      16          Stormers              Lions
14  2011-04-03      33      18         Crusaders           Waratahs
15  2011-04-03      32      41             Lions              Blues
16  2011-05-03      38      10            Chiefs   Melbourne Rebels
17  2011-05-03      25      31          Brumbies               Reds
18  2011-05-03      12      39     Western Force             Sharks
19  2011-05-03      21      15          Stormers           Cheetahs
20  2011-05-03      28      35             Bulls        Highlanders
21  2011-11-03      52      10         Crusaders           Brumbies
22  2011-11-03      32      34  Melbourne Rebels             Sharks
23  2011-11-03      18       6          Stormers        Highlanders
24  2011-12-03      29      26        Hurricanes             Chiefs
25  2011-12-03      22      22     Western Force              Blues
26  2011-12-03      20      25          Cheetahs              Lions
27  2011-03-18      15       9            Chiefs             Sharks
28  2011-03-18      53       3              Reds  Melbourne  Rebels
29  2011-03-19      13      44       Highlanders          Crusaders
..         ...     ...     ...               ...                ...
95  2011-05-28       3      16          Brumbies           Stormers
96  2011-05-28      26      21            Sharks           Waratahs
97  2011-05-28      32      21             Bulls           Cheetahs
98  2011-05-29      17      16              Reds          Crusaders
99  2011-03-06      14      21       Highlanders      Western Force
100 2011-03-06       3      40  Melbourne Rebels           Stormers
101 2011-03-06      23      17             Bulls           Waratahs
102 2011-04-06      38      27        Hurricanes              Lions
103 2011-04-06      11      16             Blues             Chiefs
104 2011-04-06      14      22              Reds           Brumbies
105 2011-04-06      18      23          Cheetahs             Sharks
106 2011-10-06      18      18            Chiefs         Hurricanes
107 2011-10-06      32      17          Brumbies   Melbourne Rebels
108 2011-11-06      23      16         Crusaders              Blues
109 2011-11-06      33       7          Waratahs        Highlanders
110 2011-11-06      21      24     Western Force               Reds
111 2011-11-06      30      30             Lions             Sharks
112 2011-11-06      16      19          Stormers              Bulls
113 2011-06-17      33      16             Blues        Highlanders
114 2011-06-17      24      27  Melbourne Rebels       WesternForce
115 2011-06-18      11      19            Chiefs               Reds
116 2011-06-18      16       9         Crusaders         Hurricanes
117 2011-06-18      41       7          Waratahs           Brumbies
118 2011-06-18      23      26             Bulls             Sharks
119 2011-06-18      34      44          Cheetahs           Stormers
120 2011-06-24      26      13             Blues           Waratahs
121 2011-06-25      36       8         Crusaders             Sharks
122 2011-02-07      30      13              Reds              Blues
123 2011-02-07      10      29          Stormers          Crusaders
124 2011-09-07      18      13              Reds          Crusaders

[125 rows x 5 columns]