In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import datetime
import re

In [2]:
def strip_tags(soup, tags):
    for tag in tags:
        for match in soup.findAll(tag):
            match.replaceWithChildren()

soup = BeautifulSoup("""
    <td>
    <div align="center">W. Force</div>
    </td>
    <td>
    <div align="center">5</div>
    </td>
    <td>
    <div align="center">18/2/06</div>
    </td>
    """, 'html.parser' )          
strip_tags(soup, ["div", "invalid"])
print(soup)

<td>
W. Force
</td>
<td>
5
</td>
<td>
18/2/06
</td>

In [3]:
 ##### Read results from www.superxv.com into DataFrame
teams_1 = []
teams_2 = []
scores_1 = []
scores_2 = []
dates = []
for year in [str(y) for y in range(2006, 2018)]:
    url = 'http://www.superxv.com/results/{year}-super-rugby-results/'.format(year=year)
    page = requests.get(url)
    if page.status_code != 200:
        print('Error downloading {url}'.format(url=url))
    else:
        print('Successfully downloaded {url}'.format(url=url))
        for table in BeautifulSoup(page.content, 'html.parser').find_all('table'):
            strip_tags(table, ["div"])
            for row in table.find_all('tr')[1:]:
                entries = row.find_all('td')
                if entries[0].text.strip() not in ['Bye', 'Not playing' ,'']: # and entries[1] = '':
                    teams_1.append(entries[0].text.strip().replace('\n',' '))
                    teams_2.append(entries[3].text.strip().replace('\n',' '))
                    scores_1.append(entries[1].text.strip())
                    scores_2.append(entries[4].text.strip())
                    dates.append(entries[5].text.strip())
df = pd.DataFrame({
        'date':dates,
        'team_1':teams_1,
        'team_2':teams_2,
        'score_1':scores_1,
        'score_2':scores_2})

Successfully downloaded http://www.superxv.com/results/2006-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2007-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2008-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2009-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2010-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2011-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2012-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2013-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2014-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2015-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2016-super-rugby-results/
Successfully downloaded http://www.superxv.com/results/2017-super-rugby-results/

In [4]:
########### Clean and format dates
df.date[df.date == "29/3/088"] = "29/03/2008"
df.date[df.date == "00/05/09"] = "09/05/09"
df.date[df.date == "0907/16"] = "09/07/16"
df.date = pd.to_datetime(df.date)
df = df.drop_duplicates() # 2007-05-05	10	36	Stormers	Sharks is duplicated
df['year'] = df.date.dt.year
df.groupby('year').count()
df

           date score_1 score_2            team_1            team_2  year
0    2006-10-02      19      37             Blues        Hurricanes  2006
1    2006-10-02      10      25             Force          Brumbies  2006
2    2006-10-02      18      30          Cheetahs             Bulls  2006
3    2006-11-02      38      15         Crusaders       Highlanders  2006
4    2006-11-02      12      16              Reds          Waratahs  2006
5    2006-11-02      12      23              Cats          Stormers  2006
6    2006-11-02      30      21            Sharks            Chiefs  2006
7    2006-02-17      25      13       Highlanders             Blues  2006
8    2006-02-17      21      16              Cats            Chiefs  2006
9    2006-02-17      21      27             Bulls          Brumbies  2006
10   2006-02-18      29       5        Hurricanes          W. Force  2006
11   2006-02-18      21      47              Reds         Crusaders  2006
12   2006-02-18      26      27            Sharks          Cheetahs  2006
13   2006-02-18      26      32          Stormers          Waratahs  2006
14   2006-02-24      29      16        Hurricanes              Cats  2006
15   2006-02-24       9      26             Force            Chiefs  2006
16   2006-02-24      15      15          Stormers          Brumbies  2006
17   2006-02-25      22      20         Crusaders            Sharks  2006
18   2006-02-25      20      21              Reds             Blues  2006
19   2006-02-25      26      17             Bulls          Waratahs  2006
20   2006-02-25      12      17          Cheetahs       Highlanders  2006
21   2006-03-03      35      17            Chiefs              Reds  2006
22   2006-03-03      28       7          Brumbies              Cats  2006
23   2006-04-03      31      16          Waratahs            Sharks  2006
24   2006-04-03      39      10         Crusaders             Blues  2006
25   2006-04-03      15      30          Stormers       Highlanders  2006
26   2006-04-03      27      25          Cheetahs        Hurricanes  2006
27   2006-10-03      19      25            Chiefs         Crusaders  2006
28   2006-10-03      50       3          Waratahs              Cats  2006
29   2006-11-03      35      30          Brumbies            Sharks  2006
...         ...     ...     ...               ...               ...   ...
1217 2016-09-07      17      28          Waratahs        Hurricanes  2016
1218 2016-09-07       3      22     Western Force          Stormers  2016
1219 2016-09-07      50       3             Bulls         Sunwolves  2016
1220 2016-09-07      26      10            Sharks          Cheetahs  2016
1221 2016-09-07       8      34          Jaguares       Highlanders  2016
1222 2016-07-15      34      28             Blues          Waratahs  2016
1223 2016-07-15      28      31              Reds  Melbourne Rebels  2016
1224 2016-07-15      40      29            Sharks         Sunwolves  2016
1225 2016-07-16      10      35         Crusaders        Hurricanes  2016
1226 2016-07-16      25      15       Highlanders            Chiefs  2016
1227 2016-07-16      24      10          Brumbies     Western Force  2016
1228 2016-07-16      52      24          Stormers    Southern Kings  2016
1229 2016-07-16      17      43          Cheetahs             Bulls  2016
1230 2016-07-16      34      22          Jaguares             Lions  2016
1231 2016-07-22       9      15          Brumbies       Highlanders  2016
1232 2016-07-23      41       0        Hurricanes            Sharks  2016
1233 2016-07-23      42      25             Lions         Crusaders  2016
1234 2016-07-23      21      60          Stormers            Chiefs  2016
1235 2016-07-30      25       9        Hurricanes            Chiefs  2016
1236 2016-07-30      42      30             Lions       Highlanders  2016
1237 2016-06-08      20       3        Hurricanes             Lions  2016
1238 2017-02-23      18      56  Melbourne Rebels             Blues  2017
1239 2017-02-24      15      24       Highlanders            Chiefs  2017
1240 2017-02-24      28      26              Reds            Sharks  2017
1241 2017-02-25      17      83         Sunwolves        Hurricanes  2017
1242 2017-02-25      17      13         Crusaders          Brumbies  2017
1243 2017-02-25      19      13          Waratahs     Western Force  2017
1244 2017-02-25      25      28          Cheetahs             Lions  2017
1245 2017-02-25      26      36    Southern Kings          Jaguares  2017
1246 2017-02-25      37      24          Stormers             Bulls  2017

[1246 rows x 6 columns]

In [7]:
#### Clean and format team names
pattern = "([A-Z][a-z]*)\W*$"
df.team_1 = df.team_1.str.extract(pattern)
df.team_2 = df.team_2.str.extract(pattern)

teams = pd.concat([df.team_1, df.team_2])
teams.groupby(teams).count().sort_values(ascending=False)

C:\Users\Liam\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()
C:\Users\Liam\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

Crusaders      178
Sharks         171
Chiefs         171
Hurricanes     170
Bulls          170
Brumbies       169
Waratahs       169
Highlanders    167
Stormers       167
Reds           165
Blues          164
Cheetahs       162
Force          161
Lions          135
Rebels          96
Kings           32
Jaguares        16
Sunwolves       16
Cats            13
dtype: int64